<div class="text-center">
  <h1>Home</h1>
  <p>This is the landing page of a note taking app</p>

  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="text-left" style="display:inline-block;vertical-align:middle;">
        <li>Users must log in via authentication</li>
        <li>Users can CRUD their own notes</li>
        <li>Notes can be shared with other users</li>
      </ul>
    </div>
</div>

  <p><b>Libraries/Gems</b>: Bootstrap, Devise</p>
</div>
